@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/images"
@import "compass/css3/transform"

$width: 800px
$height: 600px

.container
    .textbox
        padding: 10px
        font-size: 50px
        +background-image(linear-gradient(white, lighten(black, 95%)))
        +single-text-shadow(0px, 1px, 3px, false, lighten(black, 50%))
        +border-radius(10px)

    width: $width
    height: $height
    line-height: $height
    margin: 10px auto
    text:
        align: center
    background:
        image: image-url("/static/global/images/frb.png")
        repeat: no-repeat
        position: right bottom

    +box-shadow(#333333 0px 0px 5px)

.container:hover
    +rotate(-5deg)

