<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <link href="{% static "sharecam/css/screen.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{% static "sharecam/css/print.css" %}" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="{% static "sharecam/css/ie.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="{% static "sharecam/css/sharecam.css" %}" rel="stylesheet" type="text/css" />
    <script data-main=/ src={% static "jam/require.js" %}></script>
    <script src={% static "sharecam/js/sharecam.r.js" %}></script>
  </head>
  <body>
    <div class="mask-loading"></div>
  </body>
</html>

